In [1]:
import pandas as pd
import csv
nitian = pd.read_csv('/Users/daiyanalam/Documents/MachineLearnig/Dataset/NIT_2024.csv')
nitian

,Name,Email id,Phone no.,Branch/ Stream,Overall CGPA,College
0,AAYUSH GUPTA,1aayushgupta1@gmail.com,9831019428,CSE,7.71,NIT
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7866937953,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6377689721,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7542013535,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6391605757,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8709187575,IT,8.46,NIT

In [2]:
type(nitian)

pandas.core.frame.DataFrame

In [3]:
df = nitian.copy()

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.head()

,Name,Email id,Phone no.,Branch/ Stream,Overall CGPA,College
0,AAYUSH GUPTA,1aayushgupta1@gmail.com,9831019428,CSE,7.71,NIT
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT

In [6]:
df.tail()

,Name,Email id,Phone no.,Branch/ Stream,Overall CGPA,College
324,TANAYA PAL,tanayapalstar@gmail.com,7866937953,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6377689721,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7542013535,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6391605757,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8709187575,IT,8.46,NIT

In [7]:
df.head(10)

,Name,Email id,Phone no.,Branch/ Stream,Overall CGPA,College
0,AAYUSH GUPTA,1aayushgupta1@gmail.com,9831019428,CSE,7.71,NIT
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8340352235,CSE,8.55,NIT
6,AMAN KUMAR,aman.cute329@gmail.com,6287958624,CSE,8.66,NIT
7,AMAN KUMAR SINHA,amankr7100@gmail.com,8092678031,CSE,8.92,NIT
8,AMAR KUMAR SINGH,amar18kumarsingh@gmail.com,9051914838,CSE,8.37,NIT
9,AMIT SARKAR,amj153942@gmail.com,7001266603,CSE,9.38,NIT

In [8]:
df.isnull()

      Name  Email id  Phone no.  Branch/ Stream  Overall CGPA  College
0    False     False      False           False         False    False
1    False     False      False           False         False    False
2    False     False      False           False         False    False
3    False     False      False           False         False    False
4    False     False      False           False         False    False
..     ...       ...        ...             ...           ...      ...
324  False     False      False           False         False    False
325  False     False      False           False         False    False
326  False     False      False           False         False    False
327  False     False      False           False         False    False
328  False     False      False           False         False    False

[329 rows x 6 columns]

In [9]:
df.isnull().sum()

Name              0
Email id          0
Phone no.         0
Branch/ Stream    0
Overall CGPA      0
College           0
dtype: int64

In [10]:
df.iloc[2:10]

,Name,Email id,Phone no.,Branch/ Stream,Overall CGPA,College
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8340352235,CSE,8.55,NIT
6,AMAN KUMAR,aman.cute329@gmail.com,6287958624,CSE,8.66,NIT
7,AMAN KUMAR SINHA,amankr7100@gmail.com,8092678031,CSE,8.92,NIT
8,AMAR KUMAR SINGH,amar18kumarsingh@gmail.com,9051914838,CSE,8.37,NIT
9,AMIT SARKAR,amj153942@gmail.com,7001266603,CSE,9.38,NIT

In [11]:
df.columns

Index(['Name', 'Email id', 'Phone no.', 'Branch/ Stream', 'Overall CGPA',
       'College'],
      dtype='object')

In [12]:
df.columns = ['NAME','EMAIL','PHONE','STREAM','Avg. CGPA','COLLEGE']

In [13]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
0,AAYUSH GUPTA,1aayushgupta1@gmail.com,9831019428,CSE,7.71,NIT
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7866937953,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6377689721,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7542013535,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6391605757,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8709187575,IT,8.46,NIT

In [14]:
df.head(10)

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
0,AAYUSH GUPTA,1aayushgupta1@gmail.com,9831019428,CSE,7.71,NIT
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8340352235,CSE,8.55,NIT
6,AMAN KUMAR,aman.cute329@gmail.com,6287958624,CSE,8.66,NIT
7,AMAN KUMAR SINHA,amankr7100@gmail.com,8092678031,CSE,8.92,NIT
8,AMAR KUMAR SINGH,amar18kumarsingh@gmail.com,9051914838,CSE,8.37,NIT
9,AMIT SARKAR,amj153942@gmail.com,7001266603,CSE,9.38,NIT

In [15]:
df.shape

(329, 6)

In [16]:
df.size

1974

In [17]:
df.describe()

              PHONE   Avg. CGPA
count  3.290000e+02  329.000000
mean   8.221543e+09    8.672249
std    1.164712e+09    0.464980
min    6.201923e+09    6.580000
25%    7.278731e+09    8.470000
50%    8.337092e+09    8.730000
75%    9.123807e+09    9.010000
max    9.933319e+09    9.460000

In [18]:
df.dtypes

NAME          object
EMAIL         object
PHONE          int64
STREAM        object
Avg. CGPA    float64
COLLEGE       object
dtype: object

In [19]:
df.describe(include='all')

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
count,329,329,3.290000e+02,329,329.000000,329
unique,326,329,NaN,2,NaN,1
top,AMAN KUMAR,1aayushgupta1@gmail.com,NaN,CSE,NaN,NIT
freq,2,1,NaN,210,NaN,329
mean,NaN,NaN,8.221543e+09,NaN,8.672249,NaN
std,NaN,NaN,1.164712e+09,NaN,0.464980,NaN
min,NaN,NaN,6.201923e+09,NaN,6.580000,NaN
25%,NaN,NaN,7.278731e+09,NaN,8.470000,NaN
50%,NaN,NaN,8.337092e+09,NaN,8.730000,NaN
75%,NaN,NaN,9.123807e+09,NaN,9.010000,NaN
max,NaN,NaN,9.933319e+09,NaN,9.460000,NaN

In [20]:
df.NAME

0             AAYUSH GUPTA
1              ABDUL KARIM
2                ADIL KHAN
3           ADITYA BHUSHAN
4                AKASH RAJ
              ...
324             TANAYA PAL
325    UDAY SHANKAR SINGHA
326            VIBHUTI RAJ
327           VINEET YADAV
328           YUVRAJ SINGH
Name: NAME, Length: 329, dtype: object

In [21]:
df.NAME.describe()

count            329
unique           326
top       AMAN KUMAR
freq               2
Name: NAME, dtype: object

In [22]:
df['Avg. CGPA']

0      7.71
1      9.06
2      8.91
3      8.50
4      8.91
       ...
324    8.74
325    8.73
326    8.82
327    8.56
328    8.46
Name: Avg. CGPA, Length: 329, dtype: float64

In [23]:
max(df['Avg. CGPA'])

9.46

In [24]:
df['Avg. CGPA'].describe(include='all')

count    329.000000
mean       8.672249
std        0.464980
min        6.580000
25%        8.470000
50%        8.730000
75%        9.010000
max        9.460000
Name: Avg. CGPA, dtype: float64

In [25]:
df.NAME[0]

'AAYUSH GUPTA'

In [26]:
maxcgpa = max(df['Avg. CGPA'])
maxcgpa

9.46

In [27]:
df['Avg. CGPA'].idxmax()

269

In [28]:
df.loc[df['Avg. CGPA'].idxmax()]

NAME                     KAMYA KUMARI
EMAIL        kamyakumari140@gmail.com
PHONE                      8709610318
STREAM                             IT
Avg. CGPA                        9.46
COLLEGE                           NIT
Name: 269, dtype: object

In [29]:
df['Avg. CGPA'].idxmin()

58

In [30]:
df.loc[df['Avg. CGPA'].idxmin()]

NAME                    GARGI SEN
EMAIL        gragisen99@gmail.com
PHONE                  6296631088
STREAM                        CSE
Avg. CGPA                    6.58
COLLEGE                       NIT
Name: 58, dtype: object

In [31]:
df.iloc[257]

NAME                    DAIYAN ALAM
EMAIL        rehanalamkkr@gmail.com
PHONE                    8102472607
STREAM                           IT
Avg. CGPA                      9.19
COLLEGE                         NIT
Name: 257, dtype: object

In [32]:
df.iloc[301]

NAME                    SANA ASIF
EMAIL        sana98asif@gmail.com
PHONE                  8229994647
STREAM                         IT
Avg. CGPA                    9.26
COLLEGE                       NIT
Name: 301, dtype: object

In [33]:
df.iloc[289]

NAME                          RAJU KUMAR
EMAIL        er.rajukumar54321@gmail.com
PHONE                         7079527220
STREAM                                IT
Avg. CGPA                           9.29
COLLEGE                              NIT
Name: 289, dtype: object

In [34]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
0,AAYUSH GUPTA,1aayushgupta1@gmail.com,9831019428,CSE,7.71,NIT
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7866937953,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6377689721,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7542013535,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6391605757,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8709187575,IT,8.46,NIT

In [35]:
df.drop(0,inplace=True)

In [36]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8340352235,CSE,8.55,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7866937953,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6377689721,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7542013535,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6391605757,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8709187575,IT,8.46,NIT

In [37]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,shallycarrera34@gmail.com,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,adityabhushan1517@gmail.com,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8340352235,CSE,8.55,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7866937953,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6377689721,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7542013535,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6391605757,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8709187575,IT,8.46,NIT

In [38]:
df.describe(include='all')

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
count,328,328,3.280000e+02,328,328.000000,328
unique,325,328,NaN,2,NaN,1
top,AMAN KUMAR,ak.kar8m@gmail.com,NaN,CSE,NaN,NIT
freq,2,1,NaN,209,NaN,328
mean,NaN,NaN,8.216636e+09,NaN,8.675183,NaN
std,NaN,NaN,1.163081e+09,NaN,0.462631,NaN
min,NaN,NaN,6.201923e+09,NaN,6.580000,NaN
25%,NaN,NaN,7.278654e+09,NaN,8.470000,NaN
50%,NaN,NaN,8.317706e+09,NaN,8.730000,NaN
75%,NaN,NaN,9.123749e+09,NaN,9.010000,NaN
max,NaN,NaN,9.933319e+09,NaN,9.460000,NaN

In [39]:
import numpy as np
df.iloc[1:3,1]=np.nan

In [40]:
df.describe(include='all')

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
count,328,326,3.280000e+02,328,328.000000,328
unique,325,326,NaN,2,NaN,1
top,AMAN KUMAR,ak.kar8m@gmail.com,NaN,CSE,NaN,NIT
freq,2,1,NaN,209,NaN,328
mean,NaN,NaN,8.216636e+09,NaN,8.675183,NaN
std,NaN,NaN,1.163081e+09,NaN,0.462631,NaN
min,NaN,NaN,6.201923e+09,NaN,6.580000,NaN
25%,NaN,NaN,7.278654e+09,NaN,8.470000,NaN
50%,NaN,NaN,8.317706e+09,NaN,8.730000,NaN
75%,NaN,NaN,9.123749e+09,NaN,9.010000,NaN
max,NaN,NaN,9.933319e+09,NaN,9.460000,NaN

In [41]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,NaN,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,NaN,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8340352235,CSE,8.55,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7866937953,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6377689721,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7542013535,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6391605757,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8709187575,IT,8.46,NIT

In [42]:
df.EMAIL.fillna('missing',inplace=True)

In [43]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
1,ABDUL KARIM,ak.kar8m@gmail.com,9883259930,CSE,9.06,NIT
2,ADIL KHAN,missing,8240660823,CSE,8.91,NIT
3,ADITYA BHUSHAN,missing,8002151109,CSE,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7542046123,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8340352235,CSE,8.55,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7866937953,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6377689721,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7542013535,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6391605757,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8709187575,IT,8.46,NIT

In [44]:
df.iloc[1:3,2:4]=np.nan

In [45]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
1,ABDUL KARIM,ak.kar8m@gmail.com,9.883260e+09,CSE,9.06,NIT
2,ADIL KHAN,missing,NaN,NaN,8.91,NIT
3,ADITYA BHUSHAN,missing,NaN,NaN,8.50,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7.542046e+09,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8.340352e+09,CSE,8.55,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7.866938e+09,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6.377690e+09,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7.542014e+09,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6.391606e+09,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8.709188e+09,IT,8.46,NIT

In [46]:
df.dropna(inplace=True)

In [47]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
1,ABDUL KARIM,ak.kar8m@gmail.com,9.883260e+09,CSE,9.06,NIT
4,AKASH RAJ,akashraj32124@gmail.com,7.542046e+09,CSE,8.91,NIT
5,AMAN KUMAR,amanaolsingh55@gmail.com,8.340352e+09,CSE,8.55,NIT
6,AMAN KUMAR,aman.cute329@gmail.com,6.287959e+09,CSE,8.66,NIT
7,AMAN KUMAR SINHA,amankr7100@gmail.com,8.092678e+09,CSE,8.92,NIT
...,...,...,...,...,...,...
324,TANAYA PAL,tanayapalstar@gmail.com,7.866938e+09,IT,8.74,NIT
325,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6.377690e+09,IT,8.73,NIT
326,VIBHUTI RAJ,vibhu421420@gmail.com,7.542014e+09,IT,8.82,NIT
327,VINEET YADAV,yadavvineet872@gmail.com,6.391606e+09,IT,8.56,NIT
328,YUVRAJ SINGH,yuvraj28541@gmail.com,8.709188e+09,IT,8.46,NIT

In [48]:
df.reset_index(drop=True,inplace=True)

In [49]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE
0,ABDUL KARIM,ak.kar8m@gmail.com,9.883260e+09,CSE,9.06,NIT
1,AKASH RAJ,akashraj32124@gmail.com,7.542046e+09,CSE,8.91,NIT
2,AMAN KUMAR,amanaolsingh55@gmail.com,8.340352e+09,CSE,8.55,NIT
3,AMAN KUMAR,aman.cute329@gmail.com,6.287959e+09,CSE,8.66,NIT
4,AMAN KUMAR SINHA,amankr7100@gmail.com,8.092678e+09,CSE,8.92,NIT
...,...,...,...,...,...,...
321,TANAYA PAL,tanayapalstar@gmail.com,7.866938e+09,IT,8.74,NIT
322,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6.377690e+09,IT,8.73,NIT
323,VIBHUTI RAJ,vibhu421420@gmail.com,7.542014e+09,IT,8.82,NIT
324,VINEET YADAV,yadavvineet872@gmail.com,6.391606e+09,IT,8.56,NIT
325,YUVRAJ SINGH,yuvraj28541@gmail.com,8.709188e+09,IT,8.46,NIT

In [51]:
df['University']='JIS'

In [52]:
df

,NAME,EMAIL,PHONE,STREAM,Avg. CGPA,COLLEGE,University
0,ABDUL KARIM,ak.kar8m@gmail.com,9.883260e+09,CSE,9.06,NIT,JIS
1,AKASH RAJ,akashraj32124@gmail.com,7.542046e+09,CSE,8.91,NIT,JIS
2,AMAN KUMAR,amanaolsingh55@gmail.com,8.340352e+09,CSE,8.55,NIT,JIS
3,AMAN KUMAR,aman.cute329@gmail.com,6.287959e+09,CSE,8.66,NIT,JIS
4,AMAN KUMAR SINHA,amankr7100@gmail.com,8.092678e+09,CSE,8.92,NIT,JIS
...,...,...,...,...,...,...,...
321,TANAYA PAL,tanayapalstar@gmail.com,7.866938e+09,IT,8.74,NIT,JIS
322,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,6.377690e+09,IT,8.73,NIT,JIS
323,VIBHUTI RAJ,vibhu421420@gmail.com,7.542014e+09,IT,8.82,NIT,JIS
324,VINEET YADAV,yadavvineet872@gmail.com,6.391606e+09,IT,8.56,NIT,JIS
325,YUVRAJ SINGH,yuvraj28541@gmail.com,8.709188e+09,IT,8.46,NIT,JIS

In [54]:
df.drop('PHONE',axis=1,inplace=True)    # delete PHNOE Column

In [55]:
df

,NAME,EMAIL,STREAM,Avg. CGPA,COLLEGE,University
0,ABDUL KARIM,ak.kar8m@gmail.com,CSE,9.06,NIT,JIS
1,AKASH RAJ,akashraj32124@gmail.com,CSE,8.91,NIT,JIS
2,AMAN KUMAR,amanaolsingh55@gmail.com,CSE,8.55,NIT,JIS
3,AMAN KUMAR,aman.cute329@gmail.com,CSE,8.66,NIT,JIS
4,AMAN KUMAR SINHA,amankr7100@gmail.com,CSE,8.92,NIT,JIS
...,...,...,...,...,...,...
321,TANAYA PAL,tanayapalstar@gmail.com,IT,8.74,NIT,JIS
322,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,IT,8.73,NIT,JIS
323,VIBHUTI RAJ,vibhu421420@gmail.com,IT,8.82,NIT,JIS
324,VINEET YADAV,yadavvineet872@gmail.com,IT,8.56,NIT,JIS
325,YUVRAJ SINGH,yuvraj28541@gmail.com,IT,8.46,NIT,JIS

In [56]:
styler = df.style

In [64]:
styler.set_table_styles([{'selector': 'th', 'props': [('background-color', 'red')]}])

In [65]:
styler.set_table_styles([{'selector': 'th', 'props': [('color', 'black')]}])

In [59]:
styler.set_table_styles([{'selector': 'th', 'props': [('font-weight', 'bold')]}])

In [61]:
styler.set_table_styles([{'selector': 'th', 'props': [('font-size', '15px')]}])

In [70]:
styler.set_table_styles([{'selector': 'td', 'props': [('font-size', '13px')]}])

In [73]:
styler.set_table_styles([{'selector': 'td', 'props': [('background-color', 'pink')]}])

In [75]:
df.to_csv('NITIAN.csv')

In [76]:
df

,NAME,EMAIL,STREAM,Avg. CGPA,COLLEGE,University
0,ABDUL KARIM,ak.kar8m@gmail.com,CSE,9.06,NIT,JIS
1,AKASH RAJ,akashraj32124@gmail.com,CSE,8.91,NIT,JIS
2,AMAN KUMAR,amanaolsingh55@gmail.com,CSE,8.55,NIT,JIS
3,AMAN KUMAR,aman.cute329@gmail.com,CSE,8.66,NIT,JIS
4,AMAN KUMAR SINHA,amankr7100@gmail.com,CSE,8.92,NIT,JIS
...,...,...,...,...,...,...
321,TANAYA PAL,tanayapalstar@gmail.com,IT,8.74,NIT,JIS
322,UDAY SHANKAR SINGHA,udayshankarsingha99@gmail.com,IT,8.73,NIT,JIS
323,VIBHUTI RAJ,vibhu421420@gmail.com,IT,8.82,NIT,JIS
324,VINEET YADAV,yadavvineet872@gmail.com,IT,8.56,NIT,JIS
325,YUVRAJ SINGH,yuvraj28541@gmail.com,IT,8.46,NIT,JIS